---
version: '3'
# docker network create traefik... before up the stack
networks:
  ingress:
    name: traefik
    external: true

services:
  traefik:
    image: traefik:2.10
    restart: unless-stopped
    networks:
      ingress:
        aliases:
          - traefik-ingress
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./config:/etc/traefik
      - ./logs:/logs
      - ./certs:/certs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik-dash.rule=Host(`traefik-dash.local.lan`)"
      - "traefik.http.routers.traefik-dash.middlewares=traefik-dash@docker"
      - "traefik.http.services.traefik-dash.loadbalancer.server.scheme=http"
      - "traefik.http.services.traefik-dash.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.traefik-dash.basicauth.users=${TRAEFIK_DASH_PASSWORD}"
      - "traefik.http.middlewares.traefik-dash.basicauth.removeheader=true"

...